.additional-info {
  margin-left: 20px;
  position: sticky;
  top: 0;
}

.additional-info .additional-info__block {
  padding: 20px 0;
  border-bottom: 1px solid #d8dfe5;
  min-height: 140px;
}

.additional-info .additional-info__title {
  padding-top: 20px;
}

.additional-info .block__text {
  color: #053249;
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 14px;
}
